{{admin.hasSetPrefs}} of {{admin.students.length}} students have set their preferences.<br/>
<br/>
{{admin.sessions.length}} sessions give {{admin.totalCapacity}} total capacity.<br/>
<br/>

{{#if admin.isEnrolled}}
	{{#if admin.enrollmentBegan}}
		{{#if admin.enrollmentSucceeded}}
		Success! Enrollments successfully set<br/>
		{{else}}{{#if admin.enrollmentFailed}}
		Failure.
		{{/if}}{{/if}}
	{{else}}
	Enrollments already set!
	{{/if}}
{{else}}{{#if admin.enrollmentAvailable}}
	Processing {{admin.students.length}} students may take a couple minutes.  <br/>
	If you navigate away from this page before you see a success message, you may break the enrollment process.<br/>
	<br/>
	{{#if admin.enrollmentBegan}} 
		<div class="spinner">
			<img src="assets/images/spinner.gif" draggable="false">
		</div>
		Please wait.  Processing {{admin.students.length}} students.
	{{else}}
		<p class="admin-enroll">
	  		<button {{action 'enroll'}}>Enroll</button>
		</p>
	{{/if}}
{{else}} 
	The sessions total capacity of {{admin.totalCapacity}} is insufficient to enroll all {{admin.students.length}} students.  Add more session capacity to enable enrollments.
{{/if}}{{/if}}