{{#if admin.isEnrolled}}
	<p>
		{{admin.students.length}} students {{#if admin.enrollmentBegan}}successfully {{/if}}enrolled!
	</p>
{{else}}
	<p>
		{{admin.hasSetPrefs}} of {{admin.students.length}} students set their preferences.
	</p>
	<p>
		{{admin.sessions.length}} sessions give {{admin.totalCapacity}} total capacity.
	</p>
	<p>
		When the deadline for setting preferences has passed, you can use this page to enroll all students for art day sessions.  Each student will be assigned sessions from their preferences in a way that maximizes satisfaction for the highest possible number of students, and guarentees no two students who set their preferences would want to trade sessions in a single period.  Students in higher grades are given slightly higher priority.  
	</p>
	<p>
		A few students who only prefer popular sessions with low availability may get 1 or 2 random sessions.  Students who did not set preferences will be assigned into random sessions with availability after all students who set their preferences have been placed.  
	</p>
{{/if}}
{{#if admin.enrollmentAvailable}}
	{{#unless admin.isEnrolled}}
		{{#if admin.enrollmentBegan}}
			<div class="spinner">
				<img src="assets/images/spinner.gif" draggable="false">
			</div>
			<p>
				Please wait.  Processing {{admin.students.length}} students.
			</p>
		{{else}}
			<p>
				Once you press this button, do not navigate away until you see a success message or you may break the enrollment process.
			</p>
			<p class="admin-enroll">
		  	<button {{action 'enroll'}}>Enroll</button>
			</p>
		{{/if}}
	{{/unless}}
{{else}} 
	<p>
		 The sessions total capacity of {{admin.totalCapacity}} is insufficient to enroll all {{admin.students.length}} students.  Add more session capacity to enable enrollments.
	</p>
{{/if}}