<img src={{imagePath}} class="image" draggable="false" align="middle"><br/>
<div style="text-align:left;">
Session Name: {{item.sessionName}}<br/>
Capacity: {{item.capacity}}<br/>
Instructor: {{item.instructorName}}<br/>
Location: {{item.location}}<br/>
Description: {{{item.description}}}<br/>
Instructions: {{{item.instructions}}}<br/> 
</div>   
{{#if isAdmin}}
	<button {{action 'edit'}}>Edit</button>
	{{#unless isEnrolled}}
		<button {{action 'delete'}}>Delete</button>
	{{/unless}}
{{/if}}
