<table class="table">
  <tr>
    <td>
      <p class="nextline">Session Name:</p>
        (must be unique)
    </td>
    <td>{{input type="text" id="session-name-input" value=item.sessionName}}</td>
  </tr>
  <tr>
    <td>Capacity:</td>
    <td>{{input type="text" id="capacity-input" value=item.capacity}}</td>
  </tr>
  <tr>
    <td>Instructor:</td>
    <td>{{input type="text" id="instructor-input" value=item.instructorName}}</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td><p>{{input type="text" id="location-input" value=item.location}}</p></td>
  </tr>
  {{#if imageExists}}
  <tr>
    <td>Current Image:</td>
    <td><img src="{{imagePath}}" class="image-left" draggable="false" align="middle"></td>
  </tr>
  {{/if}}
  <tr>
    <td><p class="nextline">{{#if imageExists}}New {{else}}Upload {{/if}}Image:</p>{{#if imageExists}}<p class="nextline">(deletes previous image)</p>{{/if}}</td>
    <td>{{image-uploader updateImageData="updateImageData"}}</td>
  </tr>
  <tr>
    <td valign="top">Description (4 line max)</td>
    <td>
      {{textarea value=item.description id="description-input" cols="60" rows="4"}}
    </td>
  </tr>
  <tr>
    <td valign="top">Instructions</td>
    <td>                 
      {{textarea value=item.instructions id="instructions-input" cols="60" rows="4"}}
    </td>
  </tr>
</table>