<img src={{item.imageUrl}} class="image" draggable="false" align="middle"><br/>
Session Name: {{item.sessionName}}<br/>
Capacity: {{item.capacity}}<br/>
Instructor: {{item.instructorName}}<br/>
Location: {{item.location}}<br/>
Image URL: {{item.imageUrl}}<br/>
Description: {{{item.description}}}<br/>
Instructions: {{item.instructions}}<br/>    
{{#if isAdmin}}
	<button {{action 'edit'}}>Edit</button>
	<button {{action 'delete'}}>Delete</button>
{{/if}}
