<div session-id={{item.id}}>
  <img src={{imagePath}} class="image" draggable="false" align="middle"> 
	<div id="name{{rank}}" class="sessionName">
  {{#if isTransparent}}
    <div style="height: 17px" class="sessionName"></div>
  {{else}}
		{{item.sessionName}}
  {{/if}}
	</div>
</div>