<div class="instructions">
	Enter Name: {{input key-up="processKeyUp"}}<br/><br/>
</div>

{{#each filteredStudents as |item|}}
  <p class="nextline">
  	{{#link-to 'student' item}}{{item.firstName}} {{item.lastName}} {{item.grade}}{{/link-to}}
  	{{#if isAdmin}}
  		{{#if item.locked}}
   			<button {{action 'unlock' item}}>unlock</button>
   		{{/if}}
  	{{/if}}
  </p>
{{/each}}