<div>
  <div class="padded">
    <h2>
      {{student.firstName}} {{student.lastName}} ({{student.grade}})
    </h2>
    <hr>

    {{schedule-display schedule=schedule locations=locations}}
    {{#if studentHasInstructions}}
    <h3>
    Special Instructions:
    </h3>
    {{/if}}
    {{#each student.enrollments as |enrollment|}}
      {{#with enrollment.session.instructions}}
        <h4>
          {{enrollment.session.sessionName}}
        </h4>
          {{enrollment.session.instructions}}
      {{/with}}
    {{/each}}
  </div>
</div>