<div class="instructions">
	Enter Name: {{input key-up="processKeyUp"}}<br/><br/>
</div>

{{#each filteredStudents as |item|}}
  <p class="nextline">
    {{!-- from http://findicons.com/icon/438922/lock --}}
    {{#unless isEnrolled}}
      {{#if item.locked}}
        {{#if isAdmin}}
          <button {{action 'unlock' item}}>Unlock</button>
        {{/if}}
        <img src="assets/images/lock.png" class="floatingimage" draggable="false" style="height: 12px; width: 12px"> 
      {{/if}}
    {{/unless}}
  	{{#link-to 'student' item}}{{item.firstName}} {{item.lastName}} {{item.grade}}{{/link-to}}
  		{{#if isAdmin}}
        <button {{action 'deleteStudent' item}}>Delete</button>
   		{{/if}}
  </p>
{{/each}}