<div class="instructions">
<p>Students Template</p>
Enter Name: {{input key-up="processKeyUp"}}<br/><br/>
</div>

{{#each filteredStudents as |item|}}
  	{{#link-to 'student' item}}{{item.firstname}} {{item.lastname}} {{item.grade}}{{/link-to}}
  	{{#if isAdmin}}
  		{{#if item.locked}}
   			<button {{action 'unlock'}}>unlock</button>
   		{{/if}}
  	{{/if}}
  	<br />  
{{/each}} 