{{!-- {{#if admin.isAdmin}}
    <div class="row">
        <div class="col-xs-3">
            {{#link-to 'admin.sessions.add'}}Add New Session{{/link-to}}<br/>        
            <br/>
            <button {{action 'printRosters'}}>Print All Rosters</button><br/>
            <br/>        
            {{print-all-rosters sessionsPrint=sessionsPrint}}
            {{#each model as |item|}}
                {{#link-to 'admin.sessions.session' item}}{{item.sessionName}}{{/link-to}}<br/>
            {{/each}}
        </div>    
        <div class="col-xs-9">
            {{outlet}}
        </div>    
    </div> 
{{else}}
    {{not-admin}}
{{/if}} --}}

{{print-all-rosters sessionsPrint=sessionsPrint}}