<div class="instructions student">
	Enter First or Last Name: {{input class="input" key-up="processKeyUp"}}<br/><br/>
</div>

<div class="container-fluid student">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <table class="table">
        {{#each filteredStudents as |item|}}
          <tr>
          {{#unless isEnrolled}}
            {{#if isAdmin}}
              <td>
              {{#if item.locked}}
                  <button {{action 'unlock' item}}>Unlock</button>
              {{/if}}
              </td>
            {{/if}}
              <td>
              {{#if item.locked}}
                {{!-- from http://findicons.com/icon/438922/lock --}}  
                <img src="assets/images/lock.png" class="inline" draggable="false" style="height: 12px; width: 12px"> 
              {{/if}}
              </td>
          {{/unless}}
        	  <td>
              {{#link-to 'student' item}} {{#liquid-bind item as |student|}}<span student-id={{item.id}} class="student">{{student.firstName}} {{student.lastName}} {{student.grade}}</span>{{/liquid-bind}}{{/link-to}}
        		</td>
            {{#if isAdmin}}
              <td>
                <button {{action 'deleteStudent' item}}>Delete</button>
         	    </td>
            {{/if}}
            </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>