<p>
  <img src={{refreshingImagePath}} class="image-left" draggable="false" align="middle">
</p>
<table class="table">
  <tr>
    <td class="nocollapse"><p>Session Name:</p></td>
    <td>{{item.sessionName}}</td>
  </tr>
  <tr><td>Capacity:</td> 
    <td>{{item.capacity}}</td>
  </tr>
  <tr>
    <td>Instructor:</td>
    <td>{{item.instructorName}}</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>{{item.location}}</td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>{{{item.description}}}</td>
  </tr>
  {{#with item.instructions as |instructions|}}
  <tr>
    <td>Instructions:</td>
    <td>{{{instructions}}}</td>
  </tr>
  {{/with}}
</table>
{{#if isAdmin}}
	<button {{action 'edit'}}>Edit</button>
	{{#unless isEnrolled}}
		<button {{action 'delete'}}>Delete</button>
	{{/unless}}
{{/if}}