<table>
    <tr>
        <td>Session Name:</td>
        <td>{{input type="text" value=sessionName}}</td>
    </tr>
    <tr>
        <td>Capacity:</td>
        <td>{{input type="text" value=capacity}}</td>
    </tr>
    <tr>
        <td>Instructor:</td>
        <td>{{input type="text" value=instructorName}}</td>
    </tr>
    <tr>
        <td>Location:</td>
        <td>{{input type="text" value=location}}</td>
    </tr>
    <tr>
        <td>Image URL:</td>
        <td>{{input type="text" value=imageUrl}}</td>
    </tr>
    <tr>
        <td valign="top">Description</td>
        <td>
            {{textarea value=description cols="80" rows="6"}}
        </td>
    </tr>
</table>