{{#if isAdmin}}
  <div>
    User is logged in
  </div>
  {{#link-to 'admin.import'}}Import{{/link-to}}
  {{#link-to 'admin.students'}}Students{{/link-to}}
  {{#link-to 'admin.sessions'}}Sessions{{/link-to}}
  <div>
    <button {{action 'enroll'}}>Enroll</button>
    <button {{action 'test'}}>test</button>
  </div>

  <button {{action 'logout'}}>Logout</button>
  <div id='loginError' style='display: block;'>Sorry, you are not an admin.</div>
  <div>
    {{outlet}}
  </div>
{{else}}
  <button {{action 'login'}}>Facebook Login</button>
{{/if}}
