{{#if isAdmin}}
  <div>
    User is logged in<br/>
  </div>
{{else}}
  <button {{action 'login'}}>Facebook Login</button><br/>
{{/if}}

  {{#link-to 'admin.import'}}Import{{/link-to}}<br/>
  {{#link-to 'admin.students'}}Students{{/link-to}}<br/>
  {{#link-to 'admin.sessions'}}Sessions{{/link-to}}<br/>
  <div>
    <button {{action 'enroll'}}>Enroll</button><br/>
    <button {{action 'test'}}>test</button><br/>
  </div>

  <button {{action 'logout'}}>Logout</button><br/>

  <div>
    {{outlet}}
  </div>
