{{#if isAdmin}}
  {{#link-to 'admin.import'}}Import{{/link-to}}<br/>
  {{#link-to 'admin.students'}}Students{{/link-to}}<br/>
  {{#link-to 'admin.sessions'}}Sessions{{/link-to}}<br/>
  <div>
    <button {{action 'enroll'}}>Enroll</button><br/>
    <button {{action 'test'}}>test</button><br/>
  </div>  
  <input type='image' src='assets/images/fb-logout-button.png' {{action 'logout'}} />
  <div>
    {{outlet}}
  </div>
{{else}}
  <input type='image' src='assets/images/fb-login-button.png' {{action 'login'}} />
{{/if}}
<div id='loginError' style='display:none;'>Sorry, you are not an admin.</div>


