{{student-header item=model enrolled=enrolled allPrefsSet=allPrefsSet lockPrefs="lockPrefs" sessionNameForDisplay=sessionNameForDisplay descriptionForDisplay=descriptionForDisplay}}
{{#if enrolled}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        {{schedule-display item=model}}
      </div>
      <div class="col-xs-6">
        {{student-enrollments items=model.enrollments changeDescription="changeDescription"}}
      </div>
    </div>
  </div>
{{else}}
  <div class="animated-tiles">
  {{#liquid-with bothArrays as |both|}}
      {{student-preferences-row items=both.rankedOrNullPrefsArray changeDescription="changeDescription" sessionDropped="sessionDropped" locked=model.locked}}
    <hr>
    {{#liquid-if model.locked use="toRight"}}
    {{else}}
      {{#liquid-if sessionsLoading use="fade"}}
        <div class="spinner">
          <img src="assets/images/spinner.gif" draggable="false">
        </div>
      {{else}}
        {{student-available-sessions-mosaic sessionDropped="sessionDropped" availableSessions=both.availableSessions changeDescription="changeDescription"}}
      {{/liquid-if}}
    {{/liquid-if}}
  {{/liquid-with}}
  </div>
{{/if}}