
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <div class="studentName" draggable="false"> 
                {{model.firstname}} {{model.lastname}} ({{model.grade}})
            </div>
        </div>
        <div class="col-xs-8">
            {{#if allPrefsSet}}
                {{#if model.locked}}
                     <div class="instructions">
                        Your preferences are locked.
                    </div>
                {{else}}
                    <div class="instructions" style='margin: 0 auto; width:100%'>
                        <button {{action 'lockPrefs'}} style='display:block;width:250px;margin:10px auto;'>
                            Lock in Preferences
                        </button>
                    </div>
                {{/if}}
            {{else}}
                <div class="instructions" draggable="false">
                    Drag and Drop to set your preferences.
                </div>         
            {{/if}}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        {{#if model.locked}}
            {{#each rankedOrNullPrefsArray as |pref|}}
                <div class="col-md-2">
                    {{#session-tile imageUrl=pref.session.imageUrl sessionName=pref.session.sessionName}}{{/session-tile}}  
                </div>
            {{/each}}
        {{else}}
            {{#each rankedOrNullPrefsArray as |item index|}}
                <div class="col-md-2">
                    {{pref-tile item=item index=index sessionDropped="sessionDropped"}}
                </div>    
            {{/each}}
        {{/if}}
    </div>
</div>

<hr>

{{#unless model.locked}}
    {{#draggable-object-target action="sessionDropped" rank=0}}
        <div class="container-fluid">
            <div class="row">
                {{#each availableSessions as |availableSession|}}
                    <div class="col-md-2">
                        {{#draggable-object content=availableSession}}
                                {{#session-tile imageUrl=availableSession.imageUrl sessionName=availableSession.sessionName}}{{/session-tile}}
                        {{/draggable-object}}
                    </div>
                {{/each}}
            </div>
        </div>
    {{/draggable-object-target}}
{{/unless}}

