
<div class="studentName" draggable="false"> 
{{model.firstname}} 
{{model.lastname}} 
({{model.grade}})
    {{#if allPrefsSet}}
        {{#unless model.locked}}
            <div class="instructions" style='margin: 0 auto; width:100%'>
                <button {{action 'lockPrefs'}} style='display:block;width:250px;margin:10px auto;'>
                    Lock in Preferences
                </button>
            </div>
        {{/unless}}
    {{/if}}
</div>

<div class="container-fluid">
    <div class="row">
    {{#if model.locked}}
        <div class="col-md-2">
            <div class=>
                    {{#with this.rankedOrNullPrefsArray.0.session as |session|}}
                            {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}}  
                    {{else}}
                    <div class="droptarget">
                        <h3>1</h3>
                    </div>
                    {{/with}}
            </div>
        </div>    
        <div class="col-md-2">
            <div class=>
                    {{#with this.rankedOrNullPrefsArray.1.session as |session|}}
                           {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}} 
                    {{else}}
                        <div class="droptarget">
                            <h3>2</h3>
                        </div>
                    {{/with}}
            </div>
        </div>     
        <div class="col-md-2">
            <div class=>
                    {{#with this.rankedOrNullPrefsArray.2.session as |session|}}
                             {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}}
                    {{else}}
                        <div class="droptarget">
                            <h3>3</h3>
                        </div>
                    {{/with}}
            </div>
        </div>     
        <div class="col-md-2">
            <div class=>
                    {{#with this.rankedOrNullPrefsArray.3.session as |session|}}
                            {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}}  
                    {{else}}
                        <div class="droptarget">
                            <h3>4</h3>
                        </div>
                    {{/with}}
            </div>
        </div>     
        <div class="col-md-2">
            <div class=>
                    {{#with this.rankedOrNullPrefsArray.4.session as |session|}}
                        {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}}  
                    {{else}}
                        <div class="droptarget">
                            <h3>5</h3>
                        </div>
                    {{/with}}
            </div>
        </div> 
        <div class="col-md-2">
            <div class=>
                    {{#with this.rankedOrNullPrefsArray.5.session as |session|}}
                                {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}}  
                    {{else}}
                        <div class="droptarget">
                            <h3>6</h3>
                        </div>
                    {{/with}}
            </div>
        </div>
    {{else}}
        <div class="col-md-2">
            <div class=>
                {{#draggable-object-target action="sessionDropped" rank=1}}
                    {{#with this.rankedOrNullPrefsArray.0.session as |session|}}
                        {{#draggable-object content=this.rankedOrNullPrefsArray.0.session}}
                            {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}}  
                        {{/draggable-object}}
                    {{else}}
                    <div class="droptarget">
                        <h3>1</h3>
                    </div>
                    {{/with}}
                {{/draggable-object-target}}
            </div>
        </div>    
        <div class="col-md-2">
            <div class=>
                {{#draggable-object-target action="sessionDropped" rank=2}}
                    {{#with this.rankedOrNullPrefsArray.1.session as |session|}}
                        {{#draggable-object content=this.rankedOrNullPrefsArray.1.session}}
                           {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}} 
                        {{/draggable-object}}
                    {{else}}
                        <div class="droptarget">
                            <h3>2</h3>
                        </div>
                    {{/with}}
                {{/draggable-object-target}}
            </div>
        </div>     
        <div class="col-md-2">
            <div class=>
                {{#draggable-object-target action="sessionDropped" rank=3}}
                    {{#with this.rankedOrNullPrefsArray.2.session as |session|}}
                        {{#draggable-object content=this.rankedOrNullPrefsArray.2.session}}
                             {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}}
                        {{/draggable-object}}
                    {{else}}
                        <div class="droptarget">
                            <h3>3</h3>
                        </div>
                    {{/with}}
                {{/draggable-object-target}}
            </div>
        </div>     
        <div class="col-md-2">
            <div class=>
                {{#draggable-object-target action="sessionDropped" rank=4}}
                    {{#with this.rankedOrNullPrefsArray.3.session as |session|}}
                        {{#draggable-object content=this.rankedOrNullPrefsArray.3.session}}
                            {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}}  
                        {{/draggable-object}}
                    {{else}}
                        <div class="droptarget">
                            <h3>4</h3>
                        </div>
                    {{/with}}
                {{/draggable-object-target}}
            </div>
        </div>     
        <div class="col-md-2">
            <div class=>
                {{#draggable-object-target action="sessionDropped" rank=5}}
                    {{#with this.rankedOrNullPrefsArray.4.session as |session|}}
                            {{#draggable-object content=this.rankedOrNullPrefsArray.4.session}}
                                {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}}  
                            {{/draggable-object}}
                    {{else}}
                        <div class="droptarget">
                            <h3>5</h3>
                        </div>
                    {{/with}}
                {{/draggable-object-target}}
            </div>
        </div> 
        <div class="col-md-2">
            <div class=>
                {{#draggable-object-target action="sessionDropped" rank=6}}
                    {{#with this.rankedOrNullPrefsArray.5.session as |session|}}
                            {{#draggable-object content=this.rankedOrNullPrefsArray.5.session}}
                                {{#session-tile imageUrl=session.imageUrl sessionName=session.sessionName}}{{/session-tile}}  
                            {{/draggable-object}}
                    {{else}}
                        <div class="droptarget">
                            <h3>6</h3>
                        </div>
                    {{/with}}
                {{/draggable-object-target}}
            </div>
        </div>
        {{/if}}
    </div>
</div>

<hr>

{{#if model.locked}}
  <div class="instructions" style='text-align:center; font-size:24px;'>Your preferences are locked.</div>
{{else}}
    <div class="instructions" draggable="false">Drag and Drop from the available sessions below to set your preferences.</div>
    {{#draggable-object-target action="sessionDropped" rank=0}}
        <div class="container-fluid">
            <div class="row">
                {{#each availableSessions as |availableSession|}}
                    <div class="col-md-2">
                        {{#draggable-object content=availableSession}}
                            <div class="tile">
                                {{#session-tile imageUrl=availableSession.imageUrl sessionName=availableSession.sessionName}}{{/session-tile}}
                            </div>
                        {{/draggable-object}}
                    </div>
                {{/each}}
            </div>
        </div>
    {{/draggable-object-target}}
{{/if}}

