{{student-header item=model enrolled=enrolled allPrefsSet=allPrefsSet lockPrefs="lockPrefs" sessionNameForDisplay=sessionNameForDisplay descriptionForDisplay=descriptionForDisplay}}
{{#if enrolled}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        {{schedule-display item=model}}
      </div>
      <div class="col-xs-6">
        {{student-enrollments items=model.enrollments changeDescription="changeDescription"}}
      </div>
    </div>
  </div>
{{else}}
    {{student-preferences-row items=rankedOrNullPrefsArray changeDescription="changeDescription" sessionDropped="sessionDropped" locked=model.locked}}
    <hr>
    {{#unless model.locked}}
      {{#liquid-if sessionsLoading use="fade"}}
        <div class="spinner">
          <img src="assets/images/spinner.gif" draggable="false">
        </div>
      {{else}}
        {{student-available-sessions-mosaic sessionDropped="sessionDropped" availableSessions=availableSessions changeDescription="changeDescription"}}
      {{/liquid-if}}
    {{/unless}}
{{/if}}